@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    background-color: powderblue;
}

.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}
.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}

.front , .back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    background: linear-gradient(to right, #00bbff, #ff0099);
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.back {
    z-index: 0;
}

.front-content, .back-content {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform :rotateY(180deg);
}

.flipped .front ,.flipped .back {
    transform: rotateY(-180deg);
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i{
    font-size: 50px;
    color: rgb(161, 156, 156);
}

#p1 {
    z-index: 4;
}
#p2 {
    z-index: 3;
}
#p3 {
    z-index: 2;
}
#p4 {
    z-index: 1;
}

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

span {
   font-size: 100px;
   margin-top: 100px;
   color: rgb(255, 255, 255);
   margin-left: 35%;
}

h2 {
    margin-top: 10%;
    font-size: 30;
    margin-left: 15%;
    color: white;
}

.qr img {
    margin-top : 10%;
    margin-left: 35%;
    width: 25%;
    height: 20%;
}